<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta charset="keywords" content="Neighboring Health">
  <meta charset="author"
  content="Sandra Barcenas, Lea Isabel Cutillar, Conor Lipscomb, Sang Park, Sarina Proctor, Josh Roper">
  <meta charset="viewport" content="width=device-width" intial-scale="1.0">

  <link rel="stylesheet" href="../../stylesheets/base.css">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="../../js/goals.js"></script>

  <title>Enter your personal data</title>
</head>

<body>

  <div class="header">
    <a href="../index.html" class="logo">Neighboring Health</a>
    <ul class="nav">
      <li><a href="../index.html" class="active">Introduction</a></li>
      <li><a href="../index.html">How It Works</a></li>
      <li><a href="../index.html">Locations</a></li>
      <li><a href="../login/login.html">Log In</a></li>
      <li><a href="../signup/register.html" class="signup">Sign Up</a></li>
    </ul>
  </div>

  <div class="signup-header-banner">
    <div class="signup-header-container">
      <div class="signup-header-title">
        <h3>Enter your personal data</h3>
      </div>
    </div>
  </div>

  <div class="signup-layout-container">
    <div class="s-layout-left">
      <table class="sidebar">
        <tr>
          <td>
            <div class="lines"></div>
          </td>
          <td><a href="../signup/register.html">Create account</a></td>
        </tr>
        <tr>
          <td>
            <div class="lines"></div>
          </td>
          <td><a href="../signup/follow.html">Follow Interests</a></td>
        </tr>
        <tr>
          <td>
            <div class="lines-orange"></div>
          </td>
          <td><a href="../signup/goals.html">Enter personal data</a></td>
        </tr>
        <tr>
          <td>
            <div class="lines"></div>
          </td>
          <td><a href="../signup/events.html">Search for meetups</a></td>
        </tr>
        <tr>
          <td>
            <div class="lines"></div>
          </td>
          <td><a href="../signup/meetups.html">My Meetups</a></td>
        </tr>
      </table>
    </div>


    <div class="s-layout-right">
      <div class="s-data-right">
        <form>
          <h4>What are your goals?</h4>
          <textarea placeholder="My goals for this week/month/quarter is..." class="goalQuestion1"></textarea>
        </form>
        <form>
          <h4>Another question</h4>
          <textarea placeholder="What is this?..." class="goalQuestion2"></textarea>
        </form>
        <form>
          <h4>Another question</h4>
          <textarea placeholder="What is this?..." class="goalQuestion3"></textarea>
        </form>
        <div class="signup-button-container">
          <a href="../signup/events.html">
            <button class="btn-primary-btn-next" onclick="storeQuestions()">Continue</button>
          </a>
        </div>
      </div>
    </div>

  </div>
</body>
</html>
