<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta charset="keywords" content="Neighboring Health">
    <meta charset="author"
          content="Sandra Barcenas, Lea Isabel Cutillar, Conor Lipscomb, Sang Park, Sarina Proctor, Josh Roper">
    <meta charset="viewport" content="width=device-width" intial-scale="1.0">

    <link rel="stylesheet" href="../../stylesheets/base.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

    <title>Enter your personal data</title>
</head>

<body>

<div class="header">
    <a href="../index.html" class="logo">Neighboring Health</a>
    <ul class="nav">
        <li><a href="../index.html" class="active">Introduction</a></li>
        <li><a href="../index.html">How It Works</a></li>
        <li><a href="../index.html">Locations</a></li>
        <li><a href="../login/login.html">Log In</a></li>
        <li><a href="../signup/register.html" class="signup">Sign Up</a></li>
    </ul>
</div>

<div class="signup-header-banner">
    <div class="signup-header-container">
        <div class="signup-header-title">
            <h3>Enter your personal data</h3>
        </div>
    </div>
</div>

<div class="signup-layout-container">
    <div class="s-layout-left">
        <table class="sidebar">
            <tr>
                <td>
                    <div class="lines"></div>
                </td>
                <td><a href="../signup/register.html">Create account</a></td>
            </tr>
            <tr>
                <td>
                    <div class="lines"></div>
                </td>
                <td><a href="../signup/follow.html">Follow Interests</a></td>
            </tr>
            <tr>
                <td>
                    <div class="lines-orange"></div>
                </td>
                <td><a href="../signup/goals.html">Enter personal data</a></td>
            </tr>
            <tr>
                <td>
                    <div class="lines"></div>
                </td>
                <td><a href="../signup/events.html">Search for meetups</a></td>
            </tr>
            <tr>
                <td>
                    <div class="lines"></div>
                </td>
                <td><a href="../signup/meetups.html">My Meetups</a></td>
            </tr>
        </table>
    </div>


    <div class="s-layout-right">
        <div class="s-data-right">
            <form>
                <h4>What are your goals?</h4>
                <textarea>Working on this....</textarea>
            </form>
            <form>
                <h4>Another question</h4>
                <textarea>Working on this....</textarea>
            </form>
            <form>
                <h4>Another question</h4>
                <textarea>Working on this....</textarea>
            </form>
            <div class="signup-button-container">
                <a href="../signup/events.html" class="btn-primary-btn-next">Continue</a>
            </div>
        </div>
    </div>

</div>

<footer>

  <div class="footer-info">
    <div class="footer-about">
      <p>Neighboring Health enables communities increase healthy
        <br>behaviors through physical activity and community functions.</p>
        <p>This site is intended for class use only.</p>
        <p id="footer-copyright">&copy; 2018 Neighboring Health. All rights reserved.</p>
      </div>

      <div class="footer-links">
        <div>
          <span>About</span>
          <ul>
            <li><a class="footer-link" href="index.html" >Introduction</a></li>
            <li><a class="footer-link" href="index.html" >How It Works</a></li>
            <li><a class="footer-link" href="index.html" >Locations</a></li>
            <li><a class="footer-link" href="contact.html">Contact</a></li>
          </ul>
        </div>

        <div>
          <span>Social</span>
          <ul>
            <li><i class="fab fa-facebook fa-2x"></i></li>
            <li><i class="fab fa-instagram fa-2x"></i></li>
          </ul>
        </div>
      </div>

      <div class="footer-newsletter">
        <span>Subscribe to our newsletter</span>
        <form action="" id="footer-form">
          <input type="email" name="email" id="footer-email" placeholder="Email">
          <button type="button" class="cta small">Submit</button>
        </form>
      </div>
    </div>


  </footer>


</body>
</html>
