<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta charset="keywords" content="Neighboring Health">
    <meta charset="author"
          content="Sandra Barcenas, Lea Isabel Cutillar, Conor Lipscomb, Sang Park, Sarina Proctor, Josh Roper">
    <meta charset="viewport" content="width=device-width" intial-scale="1.0">

    <link rel="stylesheet" href="../../stylesheets/base.css">

    <title>My meetups</title>
</head>

<body>

<div class="header">
    <a href="../index.html" class="logo">Neighboring Health</a>
    <ul class="nav">
        <li><a href="../index.html" class="active">Introduction</a></li>
        <li><a href="../index.html">How It Works</a></li>
        <li><a href="../index.html">Locations</a></li>
        <li><a href="../login/login.html">Log In</a></li>
        <li><a href="../signup/register.html" class="signup">Sign Up</a></li>
    </ul>
</div>

<!--<div class="dropdown-navigation">
<ul>
<li> <a href="yurtsinfo.html"><img src="b27fdfb4f3e2bc5bd38d21b93b25dead.png" width="45px" height="45px"></a>
<ul>
<li> <a href="index.html" class="active"><span>Introduction</span></a> </li>
<li> <a href="howitworks.html"><span>How it works</span></a> </li>
<li> <a href="locations.html"><span>Locations</span></a> </li>
<li> <a href="login.html"><span>Log In</span></a> </li>
<li> <a href="signup.html" class="signup"><span>Sign up</span></a></li>
</ul>
</li>
</ul>
</div>-->

<div class="signup-header-banner">
    <div class="signup-header-container">
        <div class="signup-header-title">
            <h3>My meetups</h3>
        </div>
    </div>
</div>

<div class="signup-layout-container">
    <div class="s-layout-left">
        <table class="sidebar">
            <tr>
                <td>
                    <div class="lines"></div>
                </td>
                <td><a href="../signup/register.html">Create account</a></td>
            </tr>
            <tr>
                <td>
                    <div class="lines"></div>
                </td>
                <td><a href="../signup/follow.html">Follow Interests</a></td>
            </tr>
            <tr>
                <td>
                    <div class="lines"></div>
                </td>
                <td><a href="../signup/goals.html">Enter personal data</a></td>
            </tr>
            <tr>
                <td>
                    <div class="lines"></div>
                </td>
                <td><a href="../signup/events.html">Search for meetups</a></td>
            </tr>
            <tr>
                <td>
                    <div class="lines-orange"></div>
                </td>
                <td><a href="../signup/meetups.html">My Meetups</a></td>
            </tr>
        </table>
    </div>

    <!--<div id="foo">-->
    <div class="s-layout-right">
        <div class="container-meetup">
            <h2 class="col-headline">Going</h2>
            <div class="col-container">

                <div class="col-1">

                    <div class="col-images-10"></div>
                </div>
                <div class="col-2">
                    <div class="image-text">
                        <h4>HEADLINE</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti culpa incidunt dolore
                           nobis recusandae ex, aperiam omnis asperiores tenetur odio iste debitis quam natus.</p>
                    </div>
                    <a href="#" class="btn-primary-btn-small">Learn more</a>
                </div>
            </div>
            <div class="col-container">
                <div class="col-1">
                    <div class="col-images-11"></div>
                </div>
                <div class="col-2">
                    <div class="image-text">
                        <h4>HEADLINE</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti culpa incidunt dolore
                           nobis recusandae ex, aperiam omnis asperiores tenetur odio iste debitis quam natus.</p>
                    </div>
                    <a href="#" class="btn-primary-btn-small">Learn more</a>
                </div>
            </div>
            <h2 class="col-headline">Interested</h2>
            <div class="col-container">
                <div class="col-1">
                    <div class="col-images-12"></div>
                </div>
                <div class="col-2">
                    <div class="image-text">
                        <h4>HEADLINE</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti culpa incidunt dolore
                           nobis recusandae ex, aperiam omnis asperiores tenetur odio iste debitis quam natus.</p>
                    </div>
                    <a href="#" class="btn-primary-btn-small">Learn more</a>
                </div>
            </div>
            <div class="col-container">
                <div class="col-1">
                    <div class="col-images-13"></div>


                </div>

                <div class="col-2">
                    <div class="image-text">

                        <h4>HEADLINE</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti culpa incidunt dolore
                           nobis recusandae ex, aperiam omnis asperiores tenetur odio iste debitis quam natus.</p>
                    </div>
                    <a href="#" class="btn-primary-btn-small">Learn more</a>
                </div>
            </div>

            <div class="col-container">
                <div class="col-1">
                    <div class="col-images-14"></div>
                </div>
                <div class="col-2">
                    <div class="image-text">
                        <h4>HEADLINE</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti culpa incidunt dolore
                           nobis recusandae ex, aperiam omnis asperiores tenetur odio iste debitis quam natus.</p>
                    </div>
                    <a href="#" class="btn-primary-btn-small">Learn more</a>
                </div>
            </div>


            <div class="signup-button-container">
                <a href="../signup/confirmation.html" class="btn-primary-btn-next">Continue</a>
            </div>


        </div>
    </div>
    <!--</div>-->


</div>

<footer>
    <div class="wrapper">
        <div class="wrapper-links2">
            <p>Follow Us</p>
            <i class="fab fa-instagram fa-3x" aria-hidden="true"></i>
            <i class="fab fa-facebook-square fa-3x" aria-hidden="true"></i>
            <i class="fab fa-twitter-square fa-3x" aria-hidden="true"></i>
        </div>
        <div class="wrapper-links2">
            <p>What is Neighboring Health?</p>
            <ul>
                <li><a href="#">Introduction</a></li>
                <li><a href="#">How it Works</a></li>
                <li><a href="#">Locations</a></li>
            </ul>
        </div>
        <div class="wrapper-links2">
            <p>Account</p>
            <ul>
                <li><a href="#">Create an account</a></li>
                <li><a href="#">My Account</a></li>
                <li><a href="#">My Interests</a></li>
                <li><a href="#">I'm Going</a></li>
            </ul>
        </div>
        <div class="wrapper-links2">
            <p>Resources</p>
            <ul>
                <li><a href="#">Recipes</a></li>
                <li><a href="#">Exercises</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="footer-logo">
            <a href="index.html"><img src="images/Asset1.png" alt="Neighboring Health logo"></a>
        </div>
    </div>
    <div class="bottom-footer">
        <p>Copyright UX Research and Design Group Neighboring Health | This site is intended for class use only.</p>
    </div>
</footer>


</body>
</html>
