<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta charset="keywords" content="Neighboring Health">
  <meta charset="author"
  content="Sandra Barcenas, Lea Isabel Cutillar, Conor Lipscomb, Sang Park, Sarina Proctor, Josh Roper">
  <meta charset="viewport" content="width=device-width" intial-scale="1.0">

  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../stylesheets/base.css">
  <script src="../../js/signup.js"></script>

  <title>Create your account</title>
</head>

<body>

  <div class="header">
    <a href="../index.html" class="logo">Neighboring Health</a>
    <ul class="nav">
      <li><a href="../index.html" class="active">Introduction</a></li>
      <li><a href="../index.html">How It Works</a></li>
      <li><a href="../index.html">Locations</a></li>
      <li><a href="../login/login.html">Log In</a></li>
      <li><a href="../signup/register.html" class="signup">Sign Up</a></li>
    </ul>
  </div>


  <div class="signup-header-banner">
    <div class="signup-header-container">
      <div class="signup-header-title">
        <h3>Create your account</h3>
      </div>
    </div>
  </div>

  <div class="signup-layout-container">
    <div class="s-layout-left">
      <table class="sidebar">
        <tr>
          <td>
            <div class="lines-orange"></div>
          </td>
          <td><a href="../signup/register.html">Create account</a></td>
        </tr>
        <tr>
          <td>
            <div class="lines"></div>
          </td>
          <td><a href="../signup/follow.html">Follow Interests</a></td>
        </tr>
        <tr>
          <td>
            <div class="lines"></div>
          </td>
          <td><a href="../signup/goals.html">Enter personal data</a></td>
        </tr>
        <tr>
          <td>
            <div class="lines"></div>
          </td>
          <td><a href="../signup/events.html">Search for meetups</a></td>
        </tr>
        <tr>
          <td>
            <div class="lines"></div>
          </td>
          <td><a href="../signup/meetups.html">My Meetups</a></td>
        </tr>
      </table>
    </div>

    <div class="s-layout-right">
      <div class="container-signup">
        <div class="container-reservation">
          <form action="../signup/follow.html" method="post" id="contact-form">
            <fieldset id="basic-info">
              <span class="form-labels">First Name</span>
              <label for="lblFN"><br>
                <input type="text" name="firstName" placeholder="John">
              </label> <br>
              <span class="form-labels">Last Name</span>
              <label for="lblFN"><br>
                <input type="text" name="lastName" placeholder="Doe">
              </label><br>
              <span class="form-labels">E-mail</span>
              <label for="lblFN"><br>
                <input type="email" name="email" placeholder="email@gmail.com">
              </label><br>
              <span class="form-labels">Create Username</span>
              <label for="lblFN"><br>
                <input type="text" name="username" placeholder="johndoe1">
              </label><br>
              <span class="form-labels">Password</span>
              <label for="lblFN"><br>
                <input type="password" name="password" placeholder="*****">
              </label><br>
              <span class="form-labels">Location</span><br>
              <label>
                <select name="locations" class="location-options">
                  <option value="1">Arlington, TX</option>
                  <option value="2">Dallas, TX</option>
                  <option value="3">Fort Worth, TX</option>
                  <option value="4">Grand Prairie, TX</option>
                  <option value="5">Weatherford, TX</option>
                </select>
              </label>
              <button type="submit" onclick="formSubmission()" class="btn-primary-btn-main">Submit</button>
              <p>Already have an account? <a href="../login/login.html">Log In</a></p>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

  </div>
</body>
</html>
