<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta charset="keywords" content="Neighboring Health">
    <meta charset="author"
          content="Sandra Barcenas, Lea Isabel Cutillar, Conor Lipscomb, Sang Park, Sarina Proctor, Josh Roper">
    <meta charset="viewport" content="width=device-width" intial-scale="1.0">


    <link rel="stylesheet" href="../../stylesheets/base.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

    <title>Create your account</title>
</head>

<body>

<div class="header">
    <a href="../index.html" class="logo">Neighboring Health</a>
    <ul class="nav">
        <li><a href="../index.html" class="active">Introduction</a></li>
        <li><a href="../index.html">How It Works</a></li>
        <li><a href="../index.html">Locations</a></li>
        <li><a href="../login/login.html">Log In</a></li>
        <li><a href="../signup/register.html" class="signup">Sign Up</a></li>
    </ul>
</div>


<div class="signup-header-banner">
    <div class="signup-header-container">
        <div class="signup-header-title">
            <h3>Create your account</h3>
        </div>
    </div>
</div>

<div class="signup-layout-container">
    <div class="s-layout-left">
        <table class="sidebar">
            <tr>
                <td>
                    <div class="lines-orange"></div>
                </td>
                <td><a href="../signup/register.html">Create account</a></td>
            </tr>
            <tr>
                <td>
                    <div class="lines"></div>
                </td>
                <td><a href="../signup/follow.html">Follow Interests</a></td>
            </tr>
            <tr>
                <td>
                    <div class="lines"></div>
                </td>
                <td><a href="../signup/goals.html">Enter personal data</a></td>
            </tr>
            <tr>
                <td>
                    <div class="lines"></div>
                </td>
                <td><a href="../signup/events.html">Search for meetups</a></td>
            </tr>
            <tr>
                <td>
                    <div class="lines"></div>
                </td>
                <td><a href="../signup/meetups.html">My Meetups</a></td>
            </tr>
        </table>
    </div>

    <div class="s-layout-right">
        <div class="container-signup">
            <div class="container-reservation">
                <form action="" method="post" id="contact-form">

                    <fieldset id="basic-info">


                        <span class="form-labels">First Name</span>
                        <label for="lblFN"><br>
                            <input type="text" name="fn" placeholder="John">
                        </label> <br>
                        <span class="form-labels">Last Name</span>
                        <label for="lblFN"><br>
                            <input type="email" name="fn" placeholder="Doe">
                        </label><br>
                        <span class="form-labels">E-mail</span>
                        <label for="lblFN"><br>
                            <input type="phone" name="fn" placeholder="email@gmail.com">
                        </label><br>
                        <span class="form-labels">Create Username</span>
                        <label for="lblFN"><br>
                            <input type="phone" name="fn" placeholder="johndoe1">
                        </label><br>
                        <span class="form-labels">Password</span>
                        <label for="lblFN"><br>
                            <input type="phone" name="fn" placeholder="*****">
                        </label><br>
                        <span class="form-labels">Location</span><br>
                        <label><select name="" id="location-shiz">

                            <option value="1">Arlington, TX</option>
                            <option value="2">Dallas, TX</option>
                            <option value="3">Fort Worth, TX</option>
                            <option value="4">Grand Prairie, TX</option>
                            <option value="5">Weatherford, TX</option>


                        </select>
                        </label>
                        <a href="../signup/follow.html" class="btn-primary-btn-main">Submit</a>
                        <p>Already have an account? <a href="../login/login.html">Log In</a></p>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>

</div>

<footer>

  <div class="footer-info">
    <div class="footer-about">
      <p>Neighboring Health enables communities increase healthy
        <br>behaviors through physical activity and community functions.</p>
        <p>This site is intended for class use only.</p>
        <p id="footer-copyright">&copy; 2018 Neighboring Health. All rights reserved.</p>
      </div>

      <div class="footer-links">
        <div>
          <span>About</span>
          <ul>
            <li><a class="footer-link" href="index.html" >Introduction</a></li>
            <li><a class="footer-link" href="index.html" >How It Works</a></li>
            <li><a class="footer-link" href="index.html" >Locations</a></li>
            <li><a class="footer-link" href="contact.html">Contact</a></li>
          </ul>
        </div>

        <div>
          <span>Social</span>
          <ul>
            <li><i class="fab fa-facebook fa-2x"></i></li>
            <li><i class="fab fa-instagram fa-2x"></i></li>
          </ul>
        </div>
      </div>

      <div class="footer-newsletter">
        <span>Subscribe to our newsletter</span>
        <form action="" id="footer-form">
          <input type="email" name="email" id="footer-email" placeholder="Email">
          <button type="button" class="cta small">Submit</button>
        </form>
      </div>
    </div>


  </footer>

</body>
</html>
