<html>
<head>
<meta charset="UTF-8">
<meta charset="keywords" content="Neighboring Health">
<meta charset="author" content="Lea Isabel Cutillar">
<meta charset="viewport" content="width=device-width" intial-scale="1.0">

<title>Neighboring Health Colors</title>
</head>
  
  <body>
    
      <div class="color-header">
        <div class="color1">
        </div>
        <h4>Dark cyan #3F5C63</h4>
        <div class="color2">
        </div>
        <h4>Vivid orange #F35B22</h4>
        <div class="color3">
        </div>
        <h4>Desaturated dark cyan #66939E</h4>
        <div class="color4">
        </div>
        <h4>Light grayish blue #F5F6FA</h4>
    </div>
      
  <button class="btn_primary">PRIMARY</button>
  <button class="btn_secondary">SECONDARY</button>
  <button class="btn_CTA">CTA</button>
  <button class="btn_disabled">DISABLED</button>


  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem odio ullam autem iure quam ex consectetur quis ea perspiciatis, enim dolorem quod eum, alias amet tenetur magni velit corporis mollitia.</p>
    <div class="intro-header">
      <h1>Neighboring Health</h1>
      <h2>Subhead</h2>
    </div>
      
    <hr>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu orci gravida, mattis felis vitae, dignissim massa.
    Sed vestibulum nisl et sem lacinia bibendum. Sed libero sapien, efficitur ac rhoncus sed, finibus eleifend ipsum.</p>
    
    <a href="#">Example of a text link</a>
    
    
  </body>
</html>





/* Scss Document */

$color-dark-cyan: #3F5C63;
$color-orange: #F35B22;
$color-light-cyan: #66939E;
$color-light-blue: #F5F6FA;

body {
  color: $color-dark-cyan;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.color-header {
  padding-bottom: 0.5em;
}

@mixin shape {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

[class$="color1"]
  {@include shape;
    background-color: $color-dark-cyan;
}

[class$="color2"]
  {@include shape;
    background-color: $color-orange;
}

[class$="color3"]
  {@include shape;
    background-color: $color-light-cyan;
}

[class$="color4"]
  {@include shape;
    background-color: $color-light-blue;
}

hr {
  background-color: $color-orange;
  border: 0;
  height: 1px;
}

h2 {
  color: $color-light-cyan;
}

a {
  text-decoration: none;
  color: $color-dark-cyan;
}

a:hover {
  color: $color-light-cyan;
}

$primary: #3F5C63;
$secondary: #66939E;
$CTA: #F35B22;
$disabled: #F5F6FA;

@mixin notification 
  {
  display:block;
  box-sizing:border;
  width: 15em;
  border: 1em;
  padding:1em 3em;
  margin:1.4em auto;
  border-radius: 0.3em;
  text-align:center;
  }
[class$="primary"]
  {@include notification;
    background-color: $primary;
    color: white;
    border-color: lighten($primary, 75%);
    border-radius:.3em;
    }

[class$="secondary"]
  {@include notification;
    background-color: $secondary;
    color: white;
    border-color: lighten($primary, 50%);
    border-radius:.3em;
}

[class$="CTA"]
  {@include notification;
    background-color: $CTA;
    color: white;
    border-color: darken($primary, 25%);
      border-radius:.3em;
    }

[class$="disabled"]
  {@include notification;
    background-color: $disabled;
    color: black;
    border-color: darken($primary, 10%);
    border-radius:.3em;

}
