/*
  Author: Sandra Barcenas, Lea Isabel Cutillar, Conor Lipscomb, Sang Park, Sarina Proctor, Josh Roper
  Date: 04.02.2018
  Purpose: Used for usability testing.
  Version: 1.0
*/



body {
	width: 100%;
	font-size: 14px;
  	height: auto;
  	margin: 0;
 	padding: 0;
	font-family: 'Monserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Chivo', sans-serif;
}


/* ==== Header ==== */

.logo {
  text-indent: -9999px;
  background: url("images/Asset1.png") no-repeat 0 0 /contain transparent;
  display: block;
  width: 200px;
  height: 100px;
  margin: 0;
}

.header {
  background-color: #3f5c63;
  display: flex;
  display: -webkit-flex;

  justify-content: space-around;
  -webkit-justify-content: space-around;

  align-items: center;
  -webkit-align-items: center;

  padding: 2em;
  /*width: 100%;*/
}

.container-signup .signup-header{
   font-family: 'Chivo', sans-serif;
    font-size: 3em;
    color: #3f5c63;
    font-weight: lighter;
    text-align: center;
}

/* ==== End of Header ==== */

/* ==== Navigation ==== */

.nav {
  display: flex;
  display: -webkit-flex;

  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.nav ul {
  margin: 0;
  padding: 0;

  display: flex;
  display: -webkit-flex;

  list-style-type: none;
}

.nav li {
  display: inline-block;
  display: -webkit-inline-block;

  /*padding: 0 75px 0 45px;*/
	
}

.nav a {
  display: block;
  display: -webkit-block;
  color: #f5f6fa;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  margin-right: 8em;
  padding: 1em 1.5em;
}
 .sub-nav-doe{
    display: flex;
     justify-content: flex-end;
     position: absolute;
     left: 75em;
}

.sub-nav-doe .sub-nav{
      margin: 0;
  padding: 0;

  display: flex;
  display: -webkit-flex;

  list-style-type: none;
}

.sub-nav-doe .sub-nav li{
     display: inline-block;
  display: -webkit-inline-block;
}

.sub-nav-doe .sub-nav li a{
      display: block;
  display: -webkit-block;
  color: #f5f6fa;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  margin-right: 8em;
  padding: 1em 1.5em;
}
li a:visited {
    text-decoration: none;
    color: #3269B0;
}

li a:hover {
    color: #E47526;
}

li a:active {
    border-bottom: 2px solid #f35b22;
    padding-bottom: 0.5em;
}

a.signup:hover {
	background-color: #f35b22;
	color: #f5f6fa;
}

a.signup {
	border: 2px solid #f35b22;
	border-radius: 0.3px;
	padding: 1em 1.5em;
	margin: 0;

}

/*========== Beginning of Index page =========*/

.banner {
	background: url("images/adult-casual-clothes-296881.jpg") no-repeat 0 0 /contain transparent;
	background-size: cover;
	width: 100%;
}

.banner-text {
	display: flex;
	padding: 15% 0;
}

.banner-text-items {
	color: #ffffff;
	margin: auto;
	text-align: center;
	width: 80%;
	line-height: 1.65;
}

.first-container {
	display: flex;
	display:-webkit-flex;

	flex-direction: row;
	-webkit-flex-direction: row;

	justify-content: center;
	-webkit-justify-content: center;
	
	background-color: #F5F6FA;
	padding-bottom: 5em;
}

.first-box {
	width: 840px;
	height: 460px;
	line-height: 1.65;
	align-items: center;
	padding: 6em;
}

.first-info {
	color: #1d4070;

	justify-content: center;
	-webkit-justify-content: center;

}

.first-info img {
	width: 840px;
	height: 460px;
	border: 1px solid #000000;
}


.index-container {
	display: flex;
	display:-webkit-flex;

	flex-direction: row;
	-webkit-flex-direction: row;

	justify-content: center;
	-webkit-justify-content: center;
	
	background-color: #ffffff;
}

.index-box {
	width: 330px;
	height: 340px;
	line-height: 1.65;
	align-items: center;
	padding: 6em;
}

.index-info {
	color: #1d4070;

	justify-content: center;
	-webkit-justify-content: center;
	text-align: center

}

.index-info img {
	width: 330px;
	height: 340px;
}

.index-description  {
	text-align: left;
	line-height: 1.65;
	color: #3f5c63;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	padding-left: 1em;
	
}


.city-container {
	display: flex;
	display:-webkit-flex;

	flex-direction: row;
	-webkit-flex-direction: row;

	justify-content: center;
	-webkit-justify-content: center;
	
	background-color: #F5F6FA;
}

.city-box {
	width: 340px;
	height: 220px;
	line-height: 1.65;
	align-items: center;
	padding: 6em;
}

.city-info {
	color: #1d4070;

	justify-content: center;
	-webkit-justify-content: center;
	text-align: center

}

.city-info img {
	width: 340px;
	height: 220px;
	border: 1px solid #000000;
}

.city-description  {
	text-align: center;
	line-height: 1.65;
	color: #3f5c63;
	border: 1px solid #F5F6FAf;
	background-color: #F5F6FA;
	padding-left: 1em;
	
}

.container.fullwidth {
    width: 100%;
}

.calltoaction {
  display: block;
  display: -webkit-block;

  position: relative;
  padding: 45px 45px 45px 45px;
  background-color: #ffffff;
}

.calltoaction .cta-container {
  display: table;
  width: 100%;
}

.calltoaction .cta-text {
  width: 100%;
}


.calltoaction .cta-primary-btn {
  width: 20%;
  position: relative;
  vertical-align: middle;
  display: table-cell;
  margin-right: 0;
}

.cta-primary-btn {
  background-color: #ffffff;
  border: 2px solid transparent;
  color: #E4752B;
  border: 2px solid #E4752B;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 25%;
}

.cta-primary-btn:hover {
  background-color: #E4752B;
  border: 1px solid #E4752B;
  padding: 0.5em;
  color: #ffffff;
}


/*========== Ending of Index Page =========*/

/*========== Beginning of Sidebar =========*/

.container-signup .signup-header {
	display: flex;
	flex-direction: row;
	justify-content: center;

	padding-top: 1em;
    padding-bottom: 1em;
}

.container-signup .sidebar {
	display: flex;
	display: -webkit-flex;

	flex-direction: column;
	-webkit-flex-direction: column;

	justify-content: space-between;
	-webkit-justify-content: space-between;
	
	margin-top: 0em;
	margin-left: 8em;
	
}

.container-signup .sidebar a{
    text-decoration: none;
    color: #3f5c63;
}

.container-signup .sidebar td {
	font-size: 18px;
	color: #3f5c63;
	padding-right: 1em;
	padding-bottom: 2em;
	
}

.container-signup .lines {
	width: 2px;
	height: 40px;
	background: #3f5c63;
}

.container-signup .lines-orange {
	width: 2px;
	height: 40px;
	background: #f35b22;
}
/*========== Ending of Sidebar =========*/



/*========== Beginning of Signup-page =========*/

.container-signup .logo {
  text-indent: -9999px;
  background: url("Asset1.png") no-repeat 0 0 /contain transparent;
  display: block;
  width: 200px;
  height: 100px;
  margin: 0;
}

.container-signup .parent{
    display: flex;
    /*justify-content: space-between;*/
}
.container-signup .parent .right{
   	display: flex;
	display: -webkit-flex;

	flex-direction: column;
	-webkit-flex-direction: column;

	justify-content: space-between;
	-webkit-justify-content: space-between;
	
	margin-top: 0em;
	margin-right: 0em;
	
}

/*========== Beginning of Explore page =========*/

.banner-explore {
	background: url("images/placeholder.png") no-repeat 0 0 /contain transparent;
	background-size: cover;
	width: 100%;
}

.banner-text-explore {
	display: flex;
	padding: 15% 0;
}

.banner-ti-explore {
	color: #ffffff;
	margin: auto;
	text-align: center;
	width: 80%;
	line-height: 1.65;
}

.explore-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	height: 125px;
	border-bottom: 1px solid #3f5c63;
	border-top: 1px solid #3f5c63;
	background-color: #ffffff;
	padding-top: 2em;
}

.explore-links1 {
	flex-direction: row;
	justify-content: space-between;
	padding: 2em 14em 0 2em;
	text-decoration: none;
}

.explore-links1 a {
	text-decoration: none;
	color: #3f5c63;
}

.explore-links2 {
	flex-direction: row;
	justify-content: space-between;
	padding: 2em 0 0 14em;
}


.explore-links2 a {
	text-decoration: none;
	color: #3f5c63;
}

.explore-container {
	display: flex;
	display:-webkit-flex;

	flex-direction: row;
	-webkit-flex-direction: row;

	justify-content: center;
	-webkit-justify-content: center;
	
	background-color: #F5F6FA;
	padding-bottom: 8em;
}

.explore-box {
	width: 370px;
	height: 240px;
	line-height: 1.65;
	align-items: center;
	padding: 6em;
}

.explore-info {
	color: #1d4070;

	justify-content: center;
	-webkit-justify-content: center;
	text-align: center

}

.explore-info img {
	width: 380px;
	height: 240px;
}

.explore-description  {
	text-align: left;
	line-height: 1.65;
	color: #3f5c63;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	padding-left: 1em;
	
}

/*========== Ending of Explore page =========*/


/*========== Banner for Community Resources page =========*/
.banner-cr {
	background: url("images/placeholder.png") no-repeat 0 0 /contain transparent;
	background-size: cover;
	width: 100%;
}

.banner-text-cr {
	display: flex;
	padding: 15% 0;
}

.banner-ti-cr {
	color: #ffffff;
	margin: auto;
	text-align: center;
	width: 80%;
	line-height: 1.65;
}

/*========== Ending of Community resources page banner =========*/


/* ==== start of form ==== */

.container-signup .container-reservation fieldset button {
  width:100%;
margin-top: 2em;
    padding: 1.3em;
    font-size: 20px;  
    background-color: #3f5c63;
    color: white;
}

.container-signup fieldset{
    border: none;
}

.container-signup .container-reservation{
    width: 60em;
    margin:auto;
    border: none;
    margin-right: 0em;
    margin-left: 10em;
    margin-top: 0em
  }
#basic-info{
    width: 100%;
}
#contact-form{
    width: 100%;
}

.container-signup .form-labels{
    justify-content: center;
    font-size: 1.8em;
 margin-left: .2em;
    font-weight: 100;
    color: #3f5c63;
    
}

.container-signup ::placeholder{
    color: lightgrey;
}
.container-signup .container-reservation label {
  text-align: center;
    font-size: 18px;
  
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="phone"],
select
{
   margin-top: 1em; 
  border-top:0;
  border-left:0;
  border-right:0;
  border-bottom:1px solid #888;
    width: 100%;
    padding: .2em;
    margin-bottom: 1em;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
}

#location-shiz{
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    color: #3f5c63;
}


#contact-form p{
    text-align: center;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #3f5c63;
}

#contact-form p a{
    text-decoration: none;
    color: #f35b22;
}
/* ==== start of form ==== */







/* ==== start of my meetups ==== */
/*
.container-signup .right .container-mymeetups{
    background-color: aqua;
    width: 70em;
    height: 70em;
    display: flex;
    flex-direction: row;
}

.container-signup .container-mymeetups mmu-col-1{
flex: 1;
    width: 60em;
    height: 60em;
}

.container-signup .container-mymeetups mmu-col-2{
    
}
.container-signup .container-mymeetups mmu-col-1 .mmu-images{
    width: 250px;
    height: 500px;
    background-color: black;
}
.container-signup .container-mymeetups mmu-col-2 p{
    font-size: 50px;
}*/

.container-meetup{
margin-top: 0em
    
}
.col-container{
      display: flex;
  align-items: center;
  justify-content: center
}
.col-1{
  Width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-2{
  Width:100%;
 
  align-items: flex-start;
  justify-content: flex-start;
}
.col-2 p {
  margin-top: 0px;
  max-width: 700px;
  font-size: 18px;
color: #3f5c63;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    margin-bottom: .5em;
}
.col-2 h3{
  margin-bottom: .5em;
  font-size: 20px;
    color: #3f5c63;
}
.col-images{
  background-color: black;
  width: 250px;
  height: 150px; 
}
.col-2 button{
    width: 125px;
    height: 30px;
    background-color: #3f5c63;
    color: white;
    margin-right: 1.2em;
    margin-bottom: 2em;
    font-family: 'Nunito Sans', sans-serif;
}


.submit{
   position: relative;
    left: 10.3em;
    top: .5em;
    width: 250px;
    height: 40px;
    background-color: #3f5c63;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}


.container-meetup .col-headline{
    color: #3f5c63;
    margin-left:4.8em;
    font-size: 24px;
    margin-bottom: .2em;
}
/* ==== end of my meetups ==== */


/* ==== start of my account ==== */
.side-info{
    display: flex;
    flex-direction: column;
    width:35em;
    height: 100%;
    align-items: center;
    background-color: #f5f6fa;
    margin-right: 5em;
}
.side-info .profile-image{
    margin-top: 8em;
    background-color: black;
    width: 15em;
    height: 15em;
    border-radius: 10em;
        background: url("images/arnold-profile-image.jpg");
}

.side-info h3{
  font-size: 22px;
    color: #3f5c63;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    margin-bottom: 1.3em;
}

.side-info button{
  width: 18em;
    height: 3.2em;
    background-color: #3f5c63;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
  margin-bottom: 1.3em;
}

.container-my-account{
   display: flex;
    flex-direction: column;
    width: 70em;
    height: 50em;
    margin-top: 4.6em;
}

.head-doe{
      font-size: 22px;
    color: #3f5c63;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    margin-bottom: .5em;
}

.orange-underline{
     font-size: 16px;
    color: #3f5c63;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-bottom: .3em;
    border-bottom: 2px solid #f35b22;
    max-width: 45em;
}

.container-my-account h5{
      font-size: 20px;
    color: #3f5c63;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    margin-top: 2.1em;
    margin-bottom: .5em;
}

/* ==== end of my account ==== */


/* ==== start of im going ==== */
.container-imgoing{
    max-width: 60em;
    min-height: 60em;
}
.container-imgoing .col-container-2{
      display: flex;
  align-items: center;
  justify-content: center;
    margin-bottom: 1em;
}
.container-imgoing .col-1-2{
    margin-right: 1em;
  Width:50%;
  display: flex;
}
.container-imgoing .col-2{
  Width:100%;
 
  align-items: flex-start;
  justify-content: flex-start;
}
.container-imgoing .col-2 p {
  margin-top: 0px;
  max-width: 700px;
  font-size: 18px;
color: #3f5c63;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 0em;
}
.container-imgoing .col-2 h3{
  margin-bottom: .5em;
  font-size: 20px;
    color: #3f5c63;
}
.container-imgoing .col-1-2 .col-image-big{
  background-color: black;
  width: 300px;
  height: 175px; 
}
.container-imgoing .col-1-2 .col-image-big-2{
  background-color: black;
  width: 300px;
  height: 175px; 
}
/*--- images for im going ---*/
.container-imgoing .col-1-2 .col-image-big:first-child{
background: url(images/cedar-ridge.jpg);
    	background-size: cover;
}
.container-imgoing .col-1-2 .col-image-big-2:first-child{
background: url(images/downtown-cycling.jpg)    ;
    	background-size: cover;
}
/*--- images for im going ---*/

.container.fullwidth {
    width: 100%;
}

.calltoaction-2 {
    margin-top: 20em;
  display: block;
  display: -webkit-block;
  position: relative;
  width: 100%;
  background-color: #ffffff;

}

.calltoaction-2 .cta-container-2 {
  display: table;
 padding-bottom: 45px;
    padding-top: 45px;
  width: 100%;

}

.calltoaction-2 .cta-text-2 {
  width: 100%;
}
.calltoaction-2 .cta-text-2 h3{
font-size: 18px;
    color: #3f5c63;
    font-weight: 400;
    margin-bottom: 0em;
}
.calltoaction-2 .cta-text-2 p{
    margin-top: 0em;
    font-size: 16px;
color: #3f5c63;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
}

.box-doe{
    width: 30%;
  position: relative;
  vertical-align: middle;
  display: table-cell;
  margin-right: 0;
 text-align: right;
}
/*
.calltoaction-2 .cta-primary-btn-2{
  width: 20%;
  position: relative;
  vertical-align: middle;
  display: table-cell;
  margin-right: 0;
}*/

.cta-primary-btn-2{
  background-color: #f35b22;
  border: 2px solid transparent;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
 padding: .5em;
}

.cta-primary-btn-2:hover {
  background-color: #fff;
  border: 2px solid #E4752B;
  padding: 0.5em;
  color: #E4752B;
}


/* ==== end of im going ==== */



/* ==== start of my interest ==== */

.container-imgoing{
    max-width: 60em;
    min-height: 60em;
}
.container-imgoing .col-container-3{
      display: flex;
  align-items: center;
  justify-content: center;
    margin-bottom: 1em;
}
.container-imgoing .col-1-3{
background-color: #f5f6fa;
  Width:50%;
  display: flex;
    flex-direction: column;
    align-items: center;
     border: 5px solid white;
}

.container-imgoing .col-2-3{
background-color:#f5f6fa;
  Width:50%;
  display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid white;
}

.container-imgoing .col-image-big-2{
  background-color: black;
  width: 350px;
  height: 200px;
}
.container-imgoing .col-image-big-2-1{
  background-color: black;
  width: 350px;
  height: 200px;
}

/* --- images for my interest --- */
.container-imgoing .col-1-3 .col-image-big-2:first-child{
background: url(images/hiking-background.jpg);
    	background-size: cover;
}
.container-imgoing .col-2-3 .col-image-big-2:first-child{
background: url(images/ocean-background.jpg);
    	background-size: cover;
}
.container-imgoing .col-image-big-2-1:first-child{
    background: url(images/cycling-background.jpg);
    	background-size: cover;
}
.container-imgoing .col-2-3 .col-image-big-2-1:first-child{
  background: url(images/trx-background.jpg);
    background-size: cover;
}
/* --- images for my interest --- */
.container-imgoing .col-container-3 .going-text{
    width: 92%;
    padding-bottom: 1em;
}
.container-imgoing .col-container-3 .going-text h3{
    margin-bottom: 0em;
  font-size: 18px;
    color: #3f5c63;
    font-weight: 400;
    text-align: left;
}

.container-imgoing .col-container-3 .going-text p{
 margin-top: 0px;
  max-width: 700px;
  font-size: 16px;
color: #3f5c63;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 1.5em;

}
/* ==== end of my interest ==== */





/* ==== start of login screen ==== */

.ya-mama{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ya-mama .logo-fake{
    width: 150px;
    height: 180px;
    background-color: black; 
    margin: 1em;
    background: url(images/Asset-2.png);
    background-size: cover; 
}

.ya-mama p{
    font-size: 18px;
color: #3f5c63;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    margin-bottom: 2.2em;
}

.parent-full{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8em;
    margin-bottom: 8em;
}
.parent-full .middle{
    width: 35%;
}

.middle .sign-up-doe{
    
}

.middle #sign-up button{
      width:100%;
margin-top: 1.2em;
    padding: .9em;
    font-size: 20px;  
    background-color: #3f5c63;
    color: white;
}

#sign-up p{
    text-align: center;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #3f5c63;
}

#sign-up p a{
    text-decoration: none;
    color: #f35b22;
}

#sign-up .sign-up-labels{
     width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #3f5c63;
}
/* ==== end of login screen ==== */

/*========== Beginning of Footer=========*/

footer {
	box-sizing: border-box;
	background-color: #66939e;
	width: 100%;
	padding: 20px 0px;
}

.wrapper {
	width: 100%;
	padding-top: 2em;

	display: flex;
	display: -webkit-flex;

	flex-direction: row;
	-webkit-flex-direction: row;

	justify-content: space-around;
	-webkit-justify-content: space-around;

}

.wrapper-links2 {
	color: #ffffff;
	padding-right: 1em;
}


.wrapper-links2 li {
	list-style-type: none;
	color: #ffffff;
	line-height: 1.65;
	font-size: 16px;
}

.wrapper-links2 li a {
	text-decoration: none;
	color: #ffffff;
}

.wrapper-links2 li a {
	text-decoration: none;
	color: #ffffff;
}


.wrapper-links2 p {
	text-align: center;
	font-size: 20px;
	color: #ffffff;
	margin-bottom: 0;
}


.wrapper-links2 a:hover {
	color: #1d4070;
}

.footer-logo img {
	width: 85px;
  	height: 90px;
	margin-top: 3em;
}


.bottom-footer p {
	padding-top: 3em;
	color: #ffffff;
	text-align: center;
	font-size: 14px;
}
/*========== Ending of Footer =========*/
