@charset "UTF-8";

/*
  Author: Isabel Cutillar
  Date: 09.12.2017
  Purpose: Used to edit home.html
  Version: 0.0.1

*/

/* ====  Import Font Families ==== */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

@font-face {
font-family: 'Bebas Neue';
src: url('BebasNeue-Regular.eot'); /* IE9 Compat Modes */
src: url('BebasNeue-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('BebasNeue-Regular.woff') format('woff'), /* Modern Browsers */
url('BebasNeue-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
url('BebasNeue-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* ==== End of Import Font Families ==== */

body {
	width: 100%;
	font-size: 12px;
  height: auto;
  margin: 0;
 	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

/*==========Beginning of Header =========*/

.logo {
  text-indent: -9999px;
  background: url("../Images/Asset1.png") no-repeat 0 0 /contain transparent;
  display: block;
  width: 200px;
  height: 100px;
  margin: 0;
}

.header {
  background-color: #3f5c63;
  display: flex;
  display: -webkit-flex;

  justify-content: space-around;
  -webkit-justify-content: space-around;

  align-items: center;
  -webkit-align-items: center;

  padding: 2em;
  /*width: 100%;*/
}

/*========== Ending of Header =========*/

/*========== Beginning of Navigation =========*/

.nav {
  display: flex;
  display: -webkit-flex;

  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.nav ul {
  margin: 0;
  padding: 0;

  display: flex;
  display: -webkit-flex;

  list-style-type: none;
}

ul.nav li {
  display: inline-block;
  display: -webkit-inline-block;

}

.nav a {
  display: block;
  display: -webkit-block;
  color: #f5f6fa;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  margin-right: 8em;
  padding: 1em 1.5em;
}

li a:visited {
    text-decoration: none;
    color: #3269B0;
}

li a:hover {
    color: #E47526;
}

li a:active {
    border-bottom: 2px solid #f35b22;
    padding-bottom: 0.5em;
}

a.signup:hover {
	background-color: #f35b22;
	color: #f5f6fa;
}

a.signup {
	border: 2px solid #f35b22;
	border-radius: 0.3px;
	padding: 1em 1em;
	margin: 0;

}

/*========== Ending of Navigation =========*/

main {
  padding: 2em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Bebas Neue', sans-serif;
	letter-spacing: 2px;
}

h1 {
	font-size: 6.854em;
	line-height: 7rem;
	margin: 1rem auto 2rem;
	font-weight: 700;
  color: #3F5C63;
}

h2 {
	font-size: 4.236em;
	line-height: 4.5rem;
	margin: 1rem auto 2rem;
	font-weight: 100;
  color: #3F5C63;
}

h3 {
	font-size: 2.618em;
	line-height: 3rem;
	margin: 1rem auto 2rem;
	font-weight: 100;
  color: #3F5C63;
}

h4 {
	font-size: 1.618em;
	line-height: 2rem;
	margin: 1rem auto 2rem;
	font-weight: 100;
  color: #3F5C63;
}

p {
  font-family: 'Montserrat', sans-serif;
	font-size: 1em;
  color: #3F5C63;
}

/* ==== Buttons ==== */

.btn-primary-btn {
	background-color: #3F5C63;
	color: #F5F6FA;
	display: block;
	box-sizing: border;
	width: 10em;
	padding: 1em 2em;
	border-radius: 0.3em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.btn-primary-btn:hover{
	background-color: #66939E;
}

.btn-secondary-btn {
	border: 2px solid #F35B22;
	background-color: #fff;
	color: #F35B22;
	display: block;
	box-sizing: border;
	width: 10em;
	padding: 1em 2em;
	border-radius: 0.3em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.btn-secondary-btn:hover {
	background-color: #F35B22;
	color: #F5F6FA;
}

.btn-primary-btn-small {
	background-color: #3F5C63;
	color: #F5F6FA;
	display: block;
	box-sizing: border;
	width: 10em;
	padding: 0.5em 1em;
	border-radius: 0.3em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.btn-primary-btn-small:hover{
	background-color: #66939E;
}

/*
.btn-terciary-btn {
  background-color: #D5D6D7;
  color: black;
  padding: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
	border-radius: 0.3em;
}
*/



/* ==== End of Buttons ==== */
