<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta charset="keywords" content="Neighboring Health">
	<meta charset="author" content="Sandra Barcenas, Lea Isabel Cutillar, Sang Park, Sarina Proctor, Josh Roper">
	<meta charset="viewport" content="width=device-width" intial-scale="1.0">

	<link rel="stylesheet" href="../stylesheets/base.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

	<title>Neighboring Health</title>
</head>

<body>

	<div class="header">
		<a href="./index.html" class="logo">Neighboring Health</a>
		<ul class="nav">
			<li><a href="#INTRO" class="active">Introduction</a></li>
			<li><a href="#WORKS">How It Works</a></li>
			<li><a href="#LOCAT">Locations</a></li>
			<li><a href="login/login.html">Log In</a></li>
			<li><a href="signup/register.html" class="signup">Sign Up</a></li>
		</ul>
	</div>

	<div class="index-banner">
		<img src="../images/people.jpg" alt="people">
		<div class="index-banner-info">
			<h1>Better health for our communities</h1>
			<p>Be healthy with those around you.</p>
		</div>
	</div>

	<a name="INTRO"></a>

	<div class="intro-container">
		<div class="intro-content">
			<h2>A society in which people live long, healthy lives</h2>
			<p>Neighboring Health enables communities increase healthy behaviors through
				physical activity and community functions all while building healthy social connections. From hiking
				to initiating community gardens, Neighboring Health aims to create safe, healthy and productive
				neighborhoods and communities across the U.S.</p>
			</div>
		</div>

		<a name="WORKS"></a>
		<div class="works-container">
			<div class="works-content">
				<h2>How it works</h2>
			</div>
			<div class="index-container">
				<div class="index-box">

					<div class="index-info">
						<img src="../images/desktop.png">
					</div>
					<div class="index-description">
						<h4>Sign Up</h4>
						<p>Create your account, set your location</p>
					</div>

				</div>
				<div class="progress">

				</div>
				<div class="index-box">

					<div class="index-info">
						<img src="../images/add-event.png">
					</div>
					<div class="index-description">
						<h4>Explore</h4>

						<p>Follow your interests, find meetups and activities nearby</p>
					</div>
				</div>

				<div class="progress">

				</div>

				<div class="index-box">

					<div class="index-info">
						<img src="../images/user.png">

					</div>
					<div class="index-description">
						<h4>Participate</h4>
						<p>Attend meetups, engage with your community</p>
					</div>

				</div>

				<div class="progress">

				</div>

				<div class="index-box">

					<div class="index-info">
						<img src="../images/user.png">

					</div>
					<div class="index-description">
						<h4>Track your goals</h4>
						<p>Track your goals based on how many meetups you attend</p>
					</div>

				</div>

			</div>
		</div>

		<a name="LOCAT"></a>
		<div class="city-container">
			<div class="locations-content">
				<h2>Locations</h2>
			</div>
			<div class="locations-city-container">

				<div class="city-box">
					<div class="city-info">
						<img src="../images/arlington.jpg">
					</div>
					<div class="city-description">
						<h3>Arlington</h3>
					</div>
				</div>

				<div class="city-box">
					<div class="city-info">
						<img src="../images/dallas.jpg">
					</div>
					<div class="city-description">
						<h3>Dallas</h3>
					</div>
				</div>

				<div class="city-box">
					<div class="city-info">
						<img src="../images/fort_worth.jpg">
					</div>
					<div class="city-description">
						<h3>Fort Worth</h3>
					</div>
				</div>

				<div class="city-box">
					<div class="city-info">
						<img src="../images/san_antonio.jpg">
					</div>
					<div class="city-description">
						<h3>San Antonio</h3>
					</div>
				</div>

				<div class="city-box">
					<div class="city-info">
						<img src="../images/austin.jpg">
					</div>
					<div class="city-description">
						<h3>Austin</h3>
					</div>
				</div>

				<div class="city-box">
					<div class="city-info">
						<img src="../images/waco.jpg">
					</div>
					<div class="city-description">
						<h3>Waco</h3>
					</div>
				</div>
				
			</div>

		</div>


		<div class="container fullwidth">
			<div class="calltoaction">
				<div class="cta-container">
					<div class="cta-text">
						<h4>One neighborhood at a time</h4>
						<p>Neighboring Health provides opportunities for communities to increase healthy behavior.</p>
					</div>
					<a href="signup/register.html" class="cta-primary-btn">Sign Up</a>
				</div>
			</div>
		</div>





		<footer>

			<div class="footer-info">
				<div class="footer-about">
					<p>Neighboring Health enables communities increase healthy
						<br>behaviors through physical activity and community functions.</p>
						<p>This site is intended for class use only.</p>
						<p id="footer-copyright">&copy; 2018 Neighboring Health. All rights reserved.</p>
					</div>

					<div class="footer-links">
						<div>
							<span>About</span>
							<ul>
								<li><a href="index.html">Introduction</a></li>
								<li><a href="index.html">How It Works</a></li>
								<li><a href="index.html">Locations</a></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
						</div>

						<div>
							<span>Social</span>
							<ul>
								<li><i class="fab fa-facebook fa-2x"></i></li>
								<li><i class="fab fa-instagram fa-2x"></i></li>
							</ul>
						</div>
					</div>

					<div class="footer-newsletter">
						<span>Subscribe to our newsletter</span>
						<form action="" id="footer-form">
							<input type="email" name="email" id="footer-email" placeholder="Email">
							<button type="button" class="cta small">Submit</button>
						</form>
					</div>
				</div>


			</footer>







		</body>
		</html>
