<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta charset="keywords" content="Neighboring Health">
    <meta charset="author"
          content="Sandra Barcenas, Lea Isabel Cutillar, Conor Lipscomb, Sang Park, Sarina Proctor, Josh Roper">
    <meta charset="viewport" content="width=device-width" intial-scale="1.0">

    <link rel="stylesheet" href="../../stylesheets/base.css">

    <title>My Meetups</title>
</head>

<body>
<div class="container-signup">
    <div class="header">
        <a href="index.html" class="logo">Neighboring Health</a>
        <!--<ul class="nav">
        <li><a href="index.html" class="active">Introduction</a></li>
        <li><a href="howitworks.html">How it works</a></li>
        <li><a href="locations.html">Locations</a></li>
        <li><a href="login.html">Log In</a></li>
        <li><a href="signup-create_account.html" class="signup">Sign up</a></li>
    </ul>-->
        <ul class="nav">
            <li><a href="login/explore.html">Explore</a></li>
            <li><a href="login/account.html" class="active">Profile</a></li>
            <li><a href="index.html">Log Out</a></li>
        </ul>

        <!--<div class="dropdown-navigation">
        <ul>
        <li> <a href="yurtsinfo.html"><img src="b27fdfb4f3e2bc5bd38d21b93b25dead.png" width="45px" height="45px"></a>
        <ul>
        <li> <a href="index.html" class="active"><span>Introduction</span></a> </li>
        <li> <a href="howitworks.html"><span>How it works</span></a> </li>
        <li> <a href="locations.html"><span>Locations</span></a> </li>
        <li> <a href="login.html"><span>Log In</span></a> </li>
        <li> <a href="signup.html" class="signup"><span>Sign up</span></a></li>
    </ul>
</li>
</ul>
</div>-->


    </div>


    <!--<div class="signup-header">
    <h3>Create Your Account</h3>
    </div>-->


    <div class="parent">
        <div class="left">
            <div class="side-info">
                <div class="profile-image"></div>
                <h3>Josh is da illest</h3>
                <a href="login/interest.html">
                    <button>MY INTEREST</button>
                </a>
                <a href="login/events.html">
                    <button>I'M GOING</button>
                </a>
                <a href="login/account.html">
                    <button>MY ACCOUNT</button>
                </a>
            </div>


            <!--<table class="sidebar">
            <tr>
            <td><div class="lines-orange"></div></td>
            <td><a href="#" onclick="toggle_visibility('foo');"<a href="signup-create_account.html">Create account</a></a></td>
        </tr>
        <tr>
        <td><div class="lines"></div></td>
        <td>Follow Interests</td>
    </tr>
    <tr>
    <td><div class="lines"></div></td>
    <td>Enter personal data</td>
    </tr>
    <tr>
    <td><div class="lines"></div></td>
    <td><a href="signup-findmeetup.html">Search for meetups</a></td>
    </tr>
    <tr>
    <td><div class="lines"></div></td>
    <td><a href="signup-mymeetups-real.html">My Meetups</a></td>
    </tr>
    <tr>
    <td><div class="lines"></div></td>
    <td>Not Submitted</td>
    </tr>
    </table>-->
        </div>
        <div class="left">
            <div class="container-imgoing">
                <div class="im-going-head">
                    <h4 class="head-doe">I'M GOING</h4>
                    <p class="orange-underline">Here, you'll find meetups you're going to.</p>
                </div>

                <div class="col-container-2">
                    <div class="col-1-2">
                        <div class="col-image-big"></div>
                    </div>
                    <div class="col-2">
                        <div class="image-text">
                            <h3>CEDAR RIDGE</h3>
                            <p>Enjoy a hiking experience for all Dallas city dwellers! Area sit amet, Deleniti culpa
                               incidunt dolore nobis recusandae ex, aperiam omnis asperiores tenetur odio iste
                               debitis.</p>
                        </div>
                        <button>MORE INFO</button>
                    </div>
                </div>

                <div class="col-container-2">
                    <div class="col-1-2">
                        <div class="col-image-big-2"></div>
                    </div>
                    <div class="col-2">
                        <div class="image-text">
                            <h3>DOWNTOWN CYCLING</h3>
                            <p>Get ready to cycle through the streets in this down town adventure! Deleniti culpa
                               incidunt dolore nobis recusandae ex, aperiam omnis asperiores tenetur odio.</p>
                        </div>
                        <button>MORE INFO</button>
                    </div>
                </div>

                <div class="container.fullwidth">
                    <div class="calltoaction-2">
                        <div class="cta-container-2">
                            <div class="cta-text-2">
                                <h3>Want to look for more meetups?</h3>
                                <p>Neighboring Health has over... blah</p>
                            </div>
                            <div class="box-doe">
                                <a href="#" class="cta-primary-btn-2">FIND MORE INTERESTS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<footer>
    <div class="wrapper">
        <div class="wrapper-links2">
            <p>Follow Us</p>
            <i class="fab fa-instagram fa-3x" aria-hidden="true"></i>
            <i class="fab fa-facebook-square fa-3x" aria-hidden="true"></i>
            <i class="fab fa-twitter-square fa-3x" aria-hidden="true"></i>
        </div>
        <div class="wrapper-links2">
            <p>What is Neighboring Health?</p>
            <ul>
                <li><a href="#">Introduction</a></li>
                <li><a href="#">How it Works</a></li>
                <li><a href="#">Locations</a></li>
            </ul>
        </div>
        <div class="wrapper-links2">
            <p>Account</p>
            <ul>
                <li><a href="#">Create an account</a></li>
                <li><a href="#">My Account</a></li>
                <li><a href="#">My Interests</a></li>
                <li><a href="#">I'm Going</a></li>
            </ul>
        </div>
        <div class="wrapper-links2">
            <p>Resources</p>
            <ul>
                <li><a href="#">Recipes</a></li>
                <li><a href="#">Exercises</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="footer-logo">
            <a href="index.html"><img src="images/Asset1.png" alt="Neighboring Health logo"></a>
        </div>
    </div>
    <div class="bottom-footer">
        <p>Copyright UX Research and Design Group Neighboring Health | This site is intended for class use only.</p>
    </div>
</footer>


</body>
</html>
