<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta charset="keywords" content="Neighboring Health">
    <meta charset="author"
          content="Sandra Barcenas, Lea Isabel Cutillar, Conor Lipscomb, Sang Park, Sarina Proctor, Josh Roper">
    <meta charset="viewport" content="width=device-width" intial-scale="1.0">

    <link rel="stylesheet" href="../../stylesheets/base.css">


    <title>Explore</title>
</head>

<body>

<div class="header">
    <a href="../index.html" class="logo">Neighboring Health</a>
    <ul class="nav">
        <li><a href="../login/explore.html">Explore</a></li>
        <li><a href="../login/account.html">Profile</a></li>
        <li><a href="../index.html" class="signup">Log Out</a></li>
    </ul>
</div>


<div class="banner-explore">
    <div class="banner-text-explore">
        <div class="banner-ti-explore">
            <h3>Welcome</h3>
            <p><strong>Lorem ipsum lorem ipsum lorem ipsum.</strong></p>
        </div>
    </div>
</div>


<div class="explore-links">
    <div class="explore-links1"><a href="explore.html"><h3>Physical Activities</h3></a></div>
    <div class="explore-links2"><a href="communityresources.html"><h3>Community Resources</h3></a></div>
</div>


<div class="explore-container">
    <div class="explore-box">
        <div class="explore-info">
            <img src="../../images/bicycle-tour-bicycles-bicyclists-17729.jpg">
        </div>
        <div class="explore-description">
            <h4>Biking</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
    <div class="explore-box">
        <div class="explore-info">
            <img src="../../images/adventure-backpack-blue-mountains-868097.jpg">
        </div>
        <div class="explore-description">
            <h4>Hiking</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</div>


<div class="explore-container">
    <div class="explore-box">
        <div class="explore-info">
            <img src="../../images/action-blue-diver-863988.jpg">
        </div>
        <div class="explore-description">
            <h4>Swimming</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
    <div class="explore-box">
        <div class="explore-info">
            <img src="../../images/action-athlete-barbell-841130.jpg">
        </div>
        <div class="explore-description">
            <h4>Weightlifting</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</div>


<div class="explore-container">
    <div class="explore-box">
        <div class="explore-info">
            <img src="../../images/beautyrobic-exercise-fit-866023.jpg">
        </div>
        <div class="explore-description">
            <h4>Yoga</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
    <div class="explore-box">
        <div class="explore-info">
            <img src="../../images/action-athletes-ball-209852.jpg">
        </div>
        <div class="explore-description">
            <h4>Recreational Sports</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</div>


<footer>
    <div class="wrapper">
        <div class="wrapper-links2">
            <p>Follow Us</p>
            <i class="fab fa-instagram fa-3x" aria-hidden="true"></i>
            <i class="fab fa-facebook-square fa-3x" aria-hidden="true"></i>
            <i class="fab fa-twitter-square fa-3x" aria-hidden="true"></i>
        </div>
        <div class="wrapper-links2">
            <p>What is Neighboring Health?</p>
            <ul>
                <li><a href="#">Introduction</a></li>
                <li><a href="#">How it Works</a></li>
                <li><a href="#">Locations</a></li>
            </ul>
        </div>
        <div class="wrapper-links2">
            <p>Account</p>
            <ul>
                <li><a href="#">Create an account</a></li>
                <li><a href="#">My Account</a></li>
                <li><a href="#">My Interests</a></li>
                <li><a href="#">I'm Going</a></li>
            </ul>
        </div>
        <div class="wrapper-links2">
            <p>Resources</p>
            <ul>
                <li><a href="#">Recipes</a></li>
                <li><a href="#">Exercises</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="footer-logo">
            <a href="index.html"><img src="../../images/Asset1.png" alt="Neighboring Health logo"></a>
        </div>
    </div>
    <div class="bottom-footer">
        <p>Copyright UX Research and Design Group Neighboring Health | This site is intended for class use only.</p>
    </div>
</footer>


</body>
</html>
