<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta charset="keywords" content="Neighboring Health">
    <meta charset="author"
          content="Sandra Barcenas, Lea Isabel Cutillar, Conor Lipscomb, Sang Park, Sarina Proctor, Josh Roper">
    <meta charset="viewport" content="width=device-width" intial-scale="1.0">

    <link rel="stylesheet" href="../../stylesheets/css/base.css">

    <title>Log In</title>
</head>

<body>
<div class="container-signup">
    <div class="header">
        <a href="../index.html" class="logo">Neighboring Health</a>
        <ul class="nav">
            <li><a href="../index.html" class="active">Introduction</a></li>
            <li><a href="../index.html">How It Works</a></li>
            <li><a href="../index.html">Locations</a></li>
            <li><a href="../login/login.html">Log In</a></li>
            <li><a href="../signup/register.html" class="signup">Sign Up</a></li>
        </ul>

        <!--<div class="dropdown-navigation">
            <ul>
                <li> <a href="yurtsinfo.html"><img src="b27fdfb4f3e2bc5bd38d21b93b25dead.png" width="45px" height="45px"></a>
                    <ul>
                        <li> <a href="index.html" class="active"><span>Introduction</span></a> </li>
                        <li> <a href="howitworks.html"><span>How it works</span></a> </li>
                        <li> <a href="locations.html"><span>Locations</span></a> </li>
                        <li> <a href="login.html"><span>Log In</span></a> </li>
                        <li> <a href="signup.html" class="signup"><span>Sign up</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>-->


    </div>


    <!--<div class="signup-header">
        <h3>Create Your Account</h3>
    </div>-->


    <div class="parent-full">
        <div class="middle">
            <div class="ya-mama">
                <div class="logo-fake"></div>
                <p>Neighboring Health is the best idea ever.</p>
            </div>
            <form action="" method="post" id="sign-up">

                <fieldset id="sign-up-doe">


                    <span class="sign-up-labels">Username or E-mail</span>
                    <label for="lblFN"><br>
                        <input type="text" name="fn" placeholder="Username">
                    </label> <br>
                    <span class="sign-up-labels">Password</span>
                    <label for="lblFN"><br>
                        <input type="email" name="fn" placeholder="******">
                    </label><br>
                    <a href="../login/account.html">
                        <button type="button">Submit</button>
                    </a>
                </fieldset>
                <p>Don't have an account? <a href="../signup/register.html">Sign up</a></p>
            </form>
        </div>
    </div>


</div>

<footer>
    <div class="wrapper">
        <div class="wrapper-links2">
            <p>Follow Us</p>
            <i class="fab fa-instagram fa-3x" aria-hidden="true"></i>
            <i class="fab fa-facebook-square fa-3x" aria-hidden="true"></i>
            <i class="fab fa-twitter-square fa-3x" aria-hidden="true"></i>
        </div>
        <div class="wrapper-links2">
            <p>What is Neighboring Health?</p>
            <ul>
                <li><a href="#">Introduction</a></li>
                <li><a href="#">How it Works</a></li>
                <li><a href="#">Locations</a></li>
            </ul>
        </div>
        <div class="wrapper-links2">
            <p>Account</p>
            <ul>
                <li><a href="#">Create an account</a></li>
                <li><a href="#">My Account</a></li>
                <li><a href="#">My Interests</a></li>
                <li><a href="#">I'm Going</a></li>
            </ul>
        </div>
        <div class="wrapper-links2">
            <p>Resources</p>
            <ul>
                <li><a href="#">Recipes</a></li>
                <li><a href="#">Exercises</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="footer-logo">
            <a href="index.html"><img src="images/Asset1.png" alt="Neighboring Health logo"></a>
        </div>
    </div>
    <div class="bottom-footer">
        <p>Copyright UX Research and Design Group Neighboring Health | This site is intended for class use only.</p>
    </div>
</footer>


</body>
</html>
